EKTPWebApplication/Connected Services/EKTPServiceWCF/EKTPService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50326/EKTPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EKTPWebApplication" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CekNIK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CekNIKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EKTPWebApplication" minOccurs="0" name="CekNIKResult" nillable="true" type="q1:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StringCekNIK">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StringCekNIKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StringCekNIKResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>