EKTPWebApplication/Connected Services/EKTPServiceWCF/EKTPService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EKTPWebApplication" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EKTPWebApplication" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Content">
    <xs:sequence>
      <xs:element minOccurs="0" name="ALAMAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JENIS_KLMIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JENIS_PKRJN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KAB_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEC_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEL_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAMA_LGKP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NAMA_LGKP_IBU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NIK" type="xs:long" />
      <xs:element minOccurs="0" name="NO_KAB" type="xs:int" />
      <xs:element minOccurs="0" name="NO_KEC" type="xs:int" />
      <xs:element minOccurs="0" name="NO_KEL" type="xs:int" />
      <xs:element minOccurs="0" name="NO_KK" type="xs:long" />
      <xs:element minOccurs="0" name="NO_PROP" type="xs:int" />
      <xs:element minOccurs="0" name="NO_RT" type="xs:int" />
      <xs:element minOccurs="0" name="NO_RW" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="PROP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATUS_KAWIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TGL_LHR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TMPT_LHR" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Content" nillable="true" type="tns:Content" />
</xs:schema>